nav {
    
    background-color: rgb(200, 130, 224);
    padding: 30px;
    width: 100%;
    box-sizing: border-box;



}

nav li {
    
    display: inline;
    padding-left: 25px;
    padding-right: 10px;
    
}

nav li a {
    
    color: black;
    padding: 10px;
    
}