.imageDiv {
    padding: 20px
}

.ProfessionalPhoto {
    width: 400px;
    height: auto;
}

.GithubButtonImage {
    
    width: 50px;
    height:auto
}

.InstaButtonImage {
    width: 50px;
    height:auto
}

.LinkedInButtonImage {
    width: 50px;
    height:auto
}